fastapi
uvicorn
python-multipart
python-dotenv
pdfminer.six
pymupdf
python-docx
pytesseract
Pillow
rank_bm25
python-levenshtein
google-generativeai
openai
httpx
supabase
PyGithub
fpdf2
joblib
scikit-learn==1.7.2
