fastapi
uvicorn
python-multipart
python-dotenv
pdfminer.six
pymupdf
python-docx
pytesseract
Pillow
numpy
scikit-learn
xgboost
rank_bm25
sentence-transformers
python-levenshtein
google-generativeai
openai
docxtpl
weasyprint
pandas
